*.log
*.o
*.a
*.lib
*.elf
*.bin
*.gen
*.lst
*.old
*.bak
dep-*
mk-*
resources.h
symbol.txt

*.tar.gz
*.tar.bz2
*.tar.xz
*.zip

.vscode/

bin/
out/
mars/
toolchain/gcc-*/
toolchain/binutils-*/
toolchain/newlib-*/
z80-tools/sjasm/
sgdk/SGDK/
sik-tools/mdtools/


flamewing-tools/mdcomp/
flamewing-tools/mdtools/
